@model IEnumerable<CouponDto>
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Coupon list</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-bg-danger end">
                <a asp-action="CreateCupon" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i>Create New Coupon</a>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Coupon Name</th>
                    <th>Description</th>
                    <th>Coupon Amount</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var i in Model)
                {
                    <tr>
                        <td>@i.CouponName</td>
                        <td>@i.CouponDescription</td>
                        <td>@((i.CouponAmount).ToString("c"))</td>
                        <td>
                            <a asp-action="DeleteCupon" asp-route-CouponId="@i.CouponId" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

